body {
	background-color: #588C7E;
	margin-top: 20px;
	font-family: 'PT Sans Narrow', sans-serif;
}


.

/* Responsive mobile */

/*@media screen and (max-width: 699px) and (min-width: 320px) {
	

}*/
